<button mat-button [matMenuTriggerFor]="menu">Select a Value</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let number of numbers; let i = index;" (click)="this.result = i">{{i}}</button>
</mat-menu>
Value: {{result}}
<button mat-button (click)="close()">Close</button>
