<mat-form-field appearance="outline" class="search-bar">
  <mat-label>Search</mat-label>
  <input matInput>
  <i class="material-icons" matSuffix>search</i>
</mat-form-field>

<mat-card class="card">
  <div class="card-top-section">
    <img src="../assets/knicks_logo.jpg" class="card-picture">
    <div class="card-right-section">
      <div class="card-header">Buy the Knicks off James Dolan that FUCK</div>
      <div class="card-content">
        #TeamFuckJamesDolan The city of New York and the New York Knickerbockers organization has been continually abused by James Dolan.
        New York fans are among the best in the world, and have struggled through Dolan's tyranny for what seems like an
        eternity. They are loyal, always supportive, and have that New York grit. Furthermore, Madison Square Garden is
        the most famous arena in the world, and is commonly the answer players on opposing teams have when they are asked
        what their favorite away arena to play in is. New York is a basketball city, and the fans and organization deserve
        a winning franchise. This cannot be done while James Dolan owns the organization. He has shown over and over that
        he is not suitable for his position; the Knicks have been the laughingstock of the National Basketball Association
        for the past decade. Think about the unborn New York babies that will be born into New York Knickerbocker fandom,
        only to find that the organization is a fucking dumpster fire. Fuck your face James Dolan
      </div>
      <div class="card-icon-actions">
        <a mat-button class="card-icon-action"><i class="material-icons">bookmark</i> Bookmark</a>
        <a mat-button class="card-icon-action"><i class="material-icons">share</i> Share</a>
        <a mat-button class="card-icon-action"><i class="material-icons">comment</i> Comment</a>
      </div>
    </div>
  </div>
  <div class="card-bottom-section">
    <mat-progress-bar class="progress-bar" [mode]="'determinate'" [value]="69" color="warn"></mat-progress-bar>
    <!-- TODO: Indicators for progress bar (amount donated and target donation) -->
    <button mat-stroked-button class="donate-button" (click)="openDialog()">Donate</button>
  </div>
</mat-card>

{{donationAmount}}
