.search-bar {
  width: 100%;

  /*.mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-outline {
        color: black !important;
      }
    }
  }*/
}

.card {
  padding: 1%;

  .card-top-section {
    height: 80%;
    max-height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .card-picture {
      max-height: 100%;
      width: 40%;
      padding-right: 1%;
    }

    .card-right-section {
      max-height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-left: 1%;

      .card-header {
        max-height: 25%;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-weight: bold;
        font-size: 24px;
      }

      .card-content {
        max-height: 65%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
      }

      .card-icon-actions {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: auto;

        .card-icon-action {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .card-bottom-section {
    height: 20%;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .progress-bar {
      height: 25px;
      width: 80%;
      border-radius: 10px;

      .mat-progress-bar-fill::after {
        content: 'titties' !important;
      }
    }

    .donate-button {
      height: 25px;
      width: 17%;
      border-radius: 10px;
      line-height: 25px;
      font-weight: bold;
    }
  }
}
