/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  padding-left: 25%;
  padding-right: 25%;
  background-color: lightblue;
}

.search-bar {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-outline {
        color: black;
      }
    }
  }
}
